.gallery {
    // color: red;
    background-color: $color-grey-light-1;
    grid-column: full-start/full-end;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);
    grid-gap: 1.5rem;
    padding: 1.5rem;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s;
        &:hover {
            transform: scale(110%);
        }
    }
    &__item-1 {
        overflow: hidden;
        grid-row: 1/3;
        grid-column: 1/3;
    }

    &__item-2 {
        overflow: hidden;
        grid-row: 1/4;
        grid-column: 3/6;
        overflow: hidden;
    }

    &__item-3 {
        overflow: hidden;
        grid-row: 1/3;
        grid-column: 6/7;
    }

    &__item-4 {
        overflow: hidden;
        grid-row: 1/3;
        grid-column: 7/9;
    }

    &__item-5 {
        overflow: hidden;
        grid-row: 3/6;
        grid-column: 1/3;
    }

    &__item-6 {
        overflow: hidden;
        grid-row: 4/6;
        grid-column: 3/5;
    }

    &__item-7 {
        overflow: hidden;
        grid-row: 4/5;
        grid-column: 5/6;
    }

    &__item-8 {
        overflow: hidden;
        grid-row: 3/5;
        grid-column: 6/8;
    }

    &__item-9 {
        overflow: hidden;
        grid-row: 3/6;
        grid-column: 8/9;
    }

    &__item-10 {
        overflow: hidden;
        grid-row: 6/8;
        grid-column: 1/2;
    }

    &__item-11 {
        overflow: hidden;
        grid-row: 6/8;
        grid-column: 2/4;
    }

    &__item-12 {
        overflow: hidden;
        grid-row: 6/8;
        grid-column: 4/5;
    }

    &__item-13 {
        overflow: hidden;
        grid-row: 5/8;
        grid-column: 5/8;
    }

    &__item-14 {
        overflow: hidden;
        grid-row: 6/8;
        grid-column: 8/9;
    }
}
